@font-face {
    font-family: Roboto;
    src: url(./resources/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url(./resources/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    src: url(./resources/fonts/Roboto/Roboto-Italic.ttf)
}

@font-face {
    font-family: RobotoSlab;
    src: url(./resources/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}

:root {
    --crimson-01: #fc355c;
    --crimson-02: #f41d48;
    --crimson-03: #dc143c;
    --mediumTurquoise: #07e9ed;
    --mediumTurquoise: #75edef;
}
/* reset styles */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Roboto;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    color: black;
}
.fontColor {
    color: var(--crimson-01);
}
.box-shadow {
    box-shadow: 3px 3px 4px #6a6a6e;
}
.linear-gradient {
    background: linear-gradient(#1a1a1e, #3a3a3e);
}

body {
    display: flex;
    min-height: 100vh;
    height: auto;
    flex-flow: column;
}
.row2 {
    flex: 1 1 auto;
}
/* row0 */
.row0 {
    background: var(--crimson-03);
}
.row0 img {
    width: 100px;
}
.row0 img:hover {
    opacity: 0.9;
    text-decoration: none;
}
.row0-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}
.row0 h1 {
    color: #f2f2f7;
    font-size: 4rem;
}
.row0 p {
    color: #f2f2f7;
    letter-spacing: 2px;
}

/* row1 */
.row1 {
    position: sticky;
    top: -1px;
    width: 100%;
    z-index: 4;
}
.row1 span, .row1 a {
    color: #d2d2d7;
}
.nav {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.nav-item {
    flex: 1 1 auto;
}
.navbar-custom {
    padding: 0;
}
.dropdown-menu {
    background: #2a2a2e;
}
.dropdown-item:hover {
    background: #3a3a3e;
    color: #d2d2d7;
}
.nav li > a:hover {
    background: linear-gradient(#2a2a2e, #4a4a4e);
}
.nav span {
    position: relative;
}
.row1 a:hover span::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #d2d2d7;
    animation-name: underline;
    animation-duration: 100ms;
    box-sizing: padding-box;
    z-index: 4;
}
@keyframes underline {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* row2 */
/* home */
.home {
    padding: 48px;
    box-sizing: border-box;
    float: left;
    width: 100%;
}
.welcome, .socials {
    float: left;
}
.welcome p {
    line-height: 2rem;
}
.socials a {
    display: flex;
    align-items: center;
    padding: 0.3em 0 0.3em 0;
    margin-bottom: 8px;
    width: 100%;
    height: 64px;
    transition: 100ms background;
    text-align: right;
    text-decoration: none;
}
.socials h1 {
    text-align: center;
}
.logo-container {
    flex: 1 1 50%;
}
.socials img {
    width: 2.5em;
}
.text-container {
    flex: 1 1 50%;
    text-align: left;
    margin-left: 16px;
}
.socials span {
    color: #dadade;
    font-size: 1.2rem;
    position: relative;
}
.socials a:hover {
    background: linear-gradient(#2a2a2e, #4a4a4e);
}
.socials a:hover span::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #eaeaee;
    animation-name: underline;
    animation-duration: 100ms;
}
/* video */
.videos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.videos .jumbotron {
    margin-top: 64px;
}
.videos .jumbotron:nth-of-type(1) {
    display: flex;
    flex-flow: row nowrap;
}
.videos p {
    line-height: 2rem;
}
.video-container-large {
    position: relative;
    width: 100%
}
.video-container-small {
    position: relative;
    flex: 1 0 auto;
    margin-right: 16px;
}
.other-videos {
    display: flex;
    flex-flow: row nowrap;
}
.video-container-large::after, .video-container-small::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}
iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* (form)account */
.account h1, .account p {
    text-align: center;
}
.account div {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    position: relative;
}
.account input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
.input {
    border: 1px solid #8a8a8e;
    background: #fafafe;
}
.input:valid + .isValid::after {
    content: "✓";
    display: block;
    position: absolute;
    color: #5a5a5e;
    right: 0;
    top: 0;
}
.isValid {
    display: inline;
    right: 16px;
    position: relative;
}
input.form-button {
    width: 100%;
    color: #eaeaee;
}
.form-button:hover {
    background: #3a3a3e;
}
.account p {
    /*margin-top: 32px;
    margin-bottom: 16px;*/
}
/* store */
.boxes {
    margin: 48px 0 48px 0;
    display: flex;
    flex-flow: row wrap;
}
.img {
    transition: 200ms all;
    position: relative;
    overflow: hidden;
}
.black-overlay {
    background: #3a3a3e;
    position: absolute;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    transition: 200ms all;
    z-index: 2;
}
.img img {
    background: #3a3a3e;
    width: 100%;
    height: 100%;
    transition: 200ms all;
}
.img:hover .black-overlay {
    opacity: 0;
}
.img:hover img {
    transform: scale(1.1);
}
.box p {
    background: #2a2a2e;
    color: #dadade;
    font-size: 1.3rem;
    text-align: center;
    padding: 4px 12px 4px 12px;
}
/* twitch */
.video-container {
    position: relative;
    width: 100%;
}
.video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}
/* row3 */
.row3 li, .row3 .h5, .row3 p {
    /* footer colors */
    color: #ccc;
}
.row3 {
    flex: 0 0 auto;
    background: #222;
    background: linear-gradient(#2a2a2e, #3a3a3e);
    padding-top: 6px;
}
.row3-1, .row3-2, .row3-3 {
    width: 100%;
}
.row3-col {
    float: left;
}
.row3-1 p {
    float: left;
}
.row3-3 p {
    text-align: right;
}

/* media queries */
@media only screen and (min-width: 0) {
    .box {
        width: 100%;
        padding: 0 16px 16px 16px;
        box-sizing: border-box;
    }
    .socials {
        flex: 1 1 auto;
    }
    .account, .contact {
        padding: 16px;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 481px) {
    .box {
        width: 50%;
        padding: 0 16px 16px 16px;
        box-sizing: border-box;
    }
    .account, .contact {
        padding: 32px;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 796px) {
    .box {
        width: 33.33%;
        padding: 0 16px 16px 16px;
        box-sizing: border-box;
    }
    .account, .contact {
        padding: 48px;
        box-sizing: border-box;
    }
}