@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@500&display=swap');

/* change the background color */
.navbar-custom {
    background-color: #0055aa;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0055aa;
    color: rgba(255,255,255,.8);
    text-align: center;
}

.frontPageHeader {
    background-image: url("images/pepperHeader.jpg"); 
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    background-repeat: no-repeat; 
    background-size: cover;
}

html {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

