body {
    background-color: rgba(95,95,95,1.00);
    background-image: url(img/bkg_lg.jpg);
    font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}


/* TEXT */
.featured h1 {
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.headerText {
    color:#ffde16;
}

.bodyTextWhite {
    color: #fff;
}

/* SECTIONS */
section.topSection {
    float: left;
    width: 100%;
    text-align: center;
    font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin-top: 175px;
    padding-bottom: 20px;
    background-color: rgba(95,95,95,1.00);
    color: #fff;
}

section.topSection-dk {
    float: left;
    width: 100%;
    text-align: center;
    font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin-top: 175px;
    padding-bottom: 20px;
}

section.basictext {
    float: left;
    padding: 25px;
}

section.basictextwhite {
    float: left;
    padding: 25px;
    color: #fff;
}

section.basicphoto {
    float: left;
    height: 50%;
    width: 50%;
}

section.featured {
    float: left;
    height: 600px;
    width: 100%;
    background-color: rgba(33,33,33,1.00);
    text-align: center;
}

.featuredphotos img {
    margin: 5px;
}

section.orderpic {
    float: left;
    padding: 15px;
    text-align: center;
}

section.photoright {
    text-align: right;
    padding: 15px;
}
