body {
}

h1 {
    color: #800000;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    background-color: #C0C0C0;
}

.pic1 {
    position: center;
    padding-left: 50px;
}

h2 {
    background-color: #808000;
}

p {
}

h3 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #FF0000;
    background-color: #C0C0C0;
}

h4 {
    color: #F1B0B7;
}