div.contactRow {
    background-color: lightgrey;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 7px 0px;
    color: maroon;
}
div.contactRow {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    margin: 7px 0px;
}

    div.contactRow > * {
        -webkit-flex: 1 1 150px;
        flex: 1 1 150px;
    }

div#submit {
    color: red;
    float: left;
}

